
<mat-card style="margin-top:4.5em">

    <mat-card-content>
        <div class="setting-container">
            <div class="container">

                <div>
                    <div class="text-data">
                        Логин
                    </div>
                    <div>
                        <input #login type="text" value="{{getLogin()}}" >
                    </div>
                </div>

                <div class="element">
                    <div class="text-data">
                        Имя и фамилия
                    </div>
                    <div class="name-data">
                        <input #name style="width:calc(50% - 5px)" type="text" value="{{getName()}}" >
                        <input #surname style="width:calc(50% - 5px)" type="text" value="{{getSurName()}}" >
                    </div>
                </div>


                <div class="element">
                    <div class="text-data">
                        Номер телефона
                    </div>
                    <div>
                        <input #number style="width:40%" type="text" value="{{getNumber()}}">
                    </div>
                </div>

                <div class="element">
                    <div class="text-data">
                        Email
                    </div>
                    <div>
                        <input #email  type="email" value="{{getMail()}}">
                    </div>
                </div>


                <div class="element">
                    <div class="text-data">
                        Дни работы
                    </div>
                    <div style="margin-top: 10px;">
                   
                    <div class="form_radio_group" #days>
                        <div class="form_radio_group-item">
                            <input id="d1" type="checkbox" name="mn" value="1" >
                            <label for="d1">ПН</label>
                        </div>
                        <div class="form_radio_group-item">
                            <input id="radio-2" type="checkbox" name="tu" value="2">
                            <label for="radio-2">ВТ</label>
                        </div>
                        <div class="form_radio_group-item">
                            <input id="radio-3" type="checkbox" name="td" value="3">
                            <label for="radio-3">СР</label>
                        </div>
                        <div class="form_radio_group-item">
                            <input id="radio-4" type="checkbox" name="fd" value="4" >
                            <label for="radio-4">ЧТ</label>
                        </div>
                        <div class="form_radio_group-item">
                            <input id="radio-5" type="checkbox" name="fr" value="5" >
                            <label for="radio-5">ПТ</label>
                        </div>
                        <div class="form_radio_group-item">
                            <input id="radio-6" type="checkbox" name="st" value="6" >
                            <label for="radio-6">СБ</label>
                        </div>
                        <div class="form_radio_group-item">
                            <input id="radio-7" type="checkbox" name="sn" value="7" >
                            <label for="radio-7">ВС</label>
                        </div>

                    </div>
                    </div>

                </div>

                <div class="element">
                    <div class="text-data">
                        Начало и конец
                    </div>
                    <div class="name-data">
                    
                        <select #start  style="width:calc(50% - 5px)">
                            <option value="0">00:00</option>
                            <option value="1">01:00</option>
                            <option value="2">02:00</option>
                            <option value="3">03:00</option>
                            <option value="4">04:00</option>
                            <option value="5">05:00</option>
                            <option value="6">06:00</option>
                            <option value="7">07:00</option>
                            <option value="8">08:00</option>
                            <option value="9">09:00</option>
                            <option value="10">10:00</option>
                            <option value="11">11:00</option>
                            <option value="12">12:00</option>
                            <option value="13">13:00</option>
                            <option value="14">14:00</option>
                            <option value="15">15:00</option>
                            <option value="16">16:00</option>
                            <option value="17">17:00</option>
                            <option value="18">18:00</option>
                            <option value="19">19:00</option>
                            <option value="20">20:00</option>
                            <option value="21">21:00</option>
                            <option value="22">22:00</option>
                            <option value="23">23:00</option>

                          </select>



                          <select #end  style="width:calc(50% - 5px)">
                            <option value="0">00:00</option>
                            <option value="1">01:00</option>
                            <option value="2">02:00</option>
                            <option value="3">03:00</option>
                            <option value="4">04:00</option>
                            <option value="5">05:00</option>
                            <option value="6">06:00</option>
                            <option value="7">07:00</option>
                            <option value="8">08:00</option>
                            <option value="9">09:00</option>
                            <option value="10">10:00</option>
                            <option value="11">11:00</option>
                            <option value="12">12:00</option>
                            <option value="13">13:00</option>
                            <option value="14">14:00</option>
                            <option value="15">15:00</option>
                            <option value="16">16:00</option>
                            <option value="17">17:00</option>
                            <option value="18">18:00</option>
                            <option value="19">19:00</option>
                            <option value="20">20:00</option>
                            <option value="21">21:00</option>
                            <option value="22">22:00</option>
                            <option value="23">23:00</option>

                          </select>
                    
                    </div>
                </div>


               


                <div>
                    <div class="text-data">
                        Вы по специальности
                    </div>
                    <div>
                        <input #mindesc [maxLength]="60"  maxlength="60" type="text" value="{{getMinDescription()}}">
                    </div>
                </div>


                <div class="element">
                    <div class="text-data">
                        Информация о вас
                    </div>
                    <div style="margin-top: 10px;">
                        <textarea #description [maxLength]="4096" style="min-height: 200px;width: 100%;" type="number" >{{getDescription()}}</textarea>
                    </div>
                </div>

                <div class="element">
                    <div class="text-data">
                        Тип оплаты
                    </div>
                    <div class="form_radio_group" #typePeayments>
                        <div class="form_radio_group-item">
                            <input id="online" type="radio" name="payment" value="0" checked >
                            <label for="online">Онлайн</label>
                        </div>
                        <div class="form_radio_group-item">
                            <input id="app" type="radio" name="payment" value="1">
                            <label for="app">Приложение</label>
                        </div>
                        <div class="form_radio_group-item">
                            <input id="cash" type="radio" name="payment" value="2">
                            <label for="cash">Наличными</label>
                        </div>
                    </div>
                </div>





                <div class="element">
                    <div class="name-data">
                        <button  (click)="update(name,surname,number,email,start,end,mindesc,description,days,typePeayments)" mat-button style="background-color:#04b70a;" >
                            <div class="button">
                                <div class="text" >Сохранить</div>
                            </div>
                        </button>
    
                        <div>
                            <button  mat-button color="red" style="color:rgba(161, 30, 30, 0.863);font-size:1.2em;">
                                Удалить аккаунт
                            </button>
                        </div>
                        </div>
                    </div>
    


            </div>
        </div>

        <div class="setting-container">
            <div class="container">
                
                <div>
                    <div class="text-data">
                        Кошелек Qiwi
                    </div>
                    <div>
                        <input style="width:40%" maxlength="60" type="text" value="">
                    </div>
                </div>

                <div class="element">
                    <div class="text-data">
                        Банковская карта
                    </div>
                    <div style="margin-top: 10px;">
                        <input style="width:40%" maxlength="60" type="text" value="">
                    </div>
                </div>


                <div class="element">
                
                    <button  mat-button style="background-color:#04b70a;" >
                        <div class="button">
                            <div class="text">Сохранить</div>
                        </div>
                    </button>

                   

                </div>


            </div>
        </div>
    </mat-card-content>

</mat-card>