<div id="nav-bar">
    <div id="nav-bar-content">
        <div id="nav-bar-left">
            <div id="nav-bar-icon-panel">
                <div id="nav-bar-icon-panel-logotype">
                    <div >
                        <img>
                    </div>
                    <a style="color:white;">
                        СЕРВИС УСЛУГ
                    </a>
                </div>
                <div id="nav-bar-search-panel">

                    <div id="input">
                        <input type="text" placeholder="Найти услугу">
                    </div>

                    <button mat-flat-button color="primary">
                        Найти
                    </button>
                </div>
            </div>
        </div>
        <div id="nav-bar-right">
            <div *ngIf="isAuth()==false" class= "button">
                <button mat-raised-button color="primary" (click)="onGetStartedClick()">
                    Авторизация
                </button>
              </div>
              <div class= "button">
                <button mat-raised-button color="warn"  (click)="onGetStartedClick()">
                    Регистрация 
                </button>
              </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>